
.cabecalho{
    display:flex;
    align-items: center;
    grid-area:cabecalho;
    padding: 0 2rem;
}
.menu__link {
    color:#333333;
    padding: .5rem .1rem;
}

.menu__link.ativo , .menu__link:hover{
border-bottom: 2px solid #0073e6;
} 

